@import url('https://fonts.googleapis.com/css?family=Montserrat|Wendy+One');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Montserrat;
  font-size: 16px;
  letter-spacing: 1px;
}

/* Landing page */

header {
  padding: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: url('../images/bg.jpg');
  background-size: cover;
}

@media screen and (max-width: 1042px) {
  header {
    padding: 20px 15px 40px;
    flex-direction: column;
    text-align: center;
  }
}

.logo {
  width: 200px;
}

.logo-mini {
  width: 100px;
}

.catch-phrase {
  font-size: 35px;
  color: #fff;
}

.special-font {
  font-family: 'Wendy One';
  letter-spacing: 2px;
  font-weight: 100;
}

/* About section */

.about {
  background: #000;
  padding: 20px 50px;
  color: #fff;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

@media screen and (max-width: 1042px) {
  .about {
    padding: 20px 15px;
  }
}

.about > * {
  padding: 10px 40px;
  flex-basis: 33%;
}

@media screen and (max-width: 834px) {
  .about > * {
    padding: 10px 15px;
  }
}

@media screen and (max-width: 670px) {
  .about > * {
    flex-basis: 50%;
  }
}

@media screen and (max-width: 466px) {
  .about > * {
    padding: 20px 15px;
    flex-basis: 100%;
  }
}

.fa {
 font-size: 30px;
 margin-bottom: 10px;
}

.about p {
  max-width: 200px;
  margin: 0 auto;
}

/* Cities */

.cities {
  display: flex;
  padding: 50px;
  flex-wrap: wrap;
}

@media screen and (max-width: 1042px) {
  .cities {
    padding: 50px 15px;
  }
}

.more-cities {
  width: 200px;
  padding: 15px;
}

@media screen and (max-width: 518px) {
  .more-cities {
    width: 100%;
  }
}

.city {
  position: relative;
  text-align: center;
  text-decoration: none;
  padding: 10px;
  width: 100%;
}

.cities .city {
  flex-basis: 20%;
}

@media screen and (max-width: 798px) { 
    .cities {
      justify-content: center;
    } 

    .cities .city {
      flex-basis: 33%;
    }
}

@media screen and (max-width: 594px) { 
   .cities .city {
      flex-basis: 50%;
    }
}

@media screen and (max-width: 418px) { 
   .cities .city {
      flex-basis: 100%;
    }
}

.drop-view {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 1);
  transform: scaleY(0);
  transform-origin: top left;
  border-radius: 5px;
  transition: transform 500ms, background 500ms;
}

.drop-view a {
  color: #fff;
  text-decoration: none;
  line-height: 350px;
}

@media screen and (max-width: 798px) {
  .drop-view a {
    line-height: 300px;
  }
}

.more-cities .drop-view a {
  line-height: 140px;
}

.city:hover .drop-view {
  transform: scaleY(1);
  background: rgba(0, 0, 0, .5);
}

.cities .city:nth-child(odd) {
  margin: 0 0 50px 0;
}

.cities .city:nth-child(even) {
  margin: 50px 0 0 0;
}

@media screen and (max-width: 798px) {
  .cities .city:nth-child(odd) {
    margin: 10px 0;
  }

  .cities .city:nth-child(even) {
    margin: 10px 0;
  }
}

.bangkok {
  background: url('../images/bangkok.jpg');
}

.london {
  background: url('../images/london.jpg');
}

.paris {
  background: url('../images/paris.jpg');
}

.singapore {
  background: url('../images/singapore.jpg');
}

.new-york {
  background: url('../images/new-york.jpg');
}

.city-icon {
  width: 100%;
  background-size: cover;
  background-position: center;
  box-shadow: 1px 2px 8px black;
}

.cities .city-icon {
  height: 300px;
}

@media screen and (max-width: 798px) {
  .cities .city-icon {
    height: 250px;
  }
}

.more-cities .city-icon {
  height: 100px;
}

.city p {
  padding: 10px 0 0;
}

.city-container {
  display: flex;
}

.city-view {
  background-size: cover;
  background-position: center;
  width: calc(100% - 200px);
  min-height: 100vh;
}

@media screen and (max-width: 518px) {
  .city-container {
    flex-direction: column;
  }

  .city-view {
    width: 100%;
  }
}

.cover {
  background: rgba(34, 34, 34, .5);
  width: 100%;
  height: 100%;
  color: #fff;
}

/* Weather view */

.temp-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-top: 150px;
}

.temp-container > * {
  flex-basis: 250px;
  padding: 30px 20px;
}

@media screen and (max-width: 834px) {
  .temp-container {
    flex-direction: column;
  }

  .temp-container > * {
    padding: 30px 15px 50px;
  }
}

.temp-container p:not(.temperature) {
  font-size: 17px;
}

.temperature {
  font-size: 55px;
}

.description {
  display: flex;
  align-items: center;
}

.description p {
  text-transform: capitalize;
}

.other-specs {
  margin: 10px 0 0 0;
}

.other-specs p {
  padding: 0 0 10px 0;
}

.other-specs span {
  display: inline-block;
}

.spec {
  width: 100px;
}

.info {
  text-align: center;
}

/* Loading */

.loading {
  min-height: 100vh;
}

.loading h1 {
  font-size: 30px;
  line-height: 100vh;
  text-align: center;
}

.dot {
  display: inline-block;
  width: 8px;
  height: 8px;
  margin: 0 5px 5px;
  border-radius: 50%;
  opacity: 0;
}

.dot:nth-child(1) {
  animation: fade 1000ms 200ms infinite; 
  background: #a4c5ea;
}

.dot:nth-child(2) {
  animation: fade 1000ms 400ms infinite;
  background: #98a7f2;
}

.dot:nth-child(3) {
  animation: fade 1000ms 600ms infinite;
  background: #bca9e1;
}

@keyframes fade {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

/* Error */

.error {
  text-align: center;
}

.error h1 {
  font-size: 30px;
  margin: 50px 0 20px;
}
